.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    border: solid red 1px;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    width: 100px;
    /* Optionally, set a fixed width for consistency */
}


.btn-grp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    /* border: solid blue 1px; */
    padding: .5rem;
    gap: 1rem;

}